<div class="jumbotron">
  <div class="row">
      <div class="col-md-8">
      <h3><strong>Intel® Xeon® Processor-based Servers for Small and Medium Business</strong></h3>  
      <p><li>More responsiveness provided by larger Cache</li>
      <li>Superior multitasking provided by Intel® HyperThreading Technology</li>
      <li>Better dependability provided by ECC memory, server class operating systems,
          redundant hard drives, remote management capabilities and systems validated to run 24x7</li> </p>
      <p><a href="#" class="btn btn-primary btn-small" role="button"> Configure </a></p>
    </div>  
    <div class="col-md-4" id="bg_Intel®"> <%=image_tag "E5_statbanner_300x250.jpg" %>
    </div>
  </div>  
</div>	

<div class="row">
  <div class="col-md-4">
    <div class="thumbnail"> 
      <%=image_tag "E3_310x155.jpg" %>
      <div class="caption">
        <h5><strong>Intel® Xeon® E3 processor </strong></h5>
        <li>Small business servers
        <li>Entry-level workstations                   
      </div>
    </div> 
  </div>  
  <div class="col-md-4">
      <div class="thumbnail"> 
        <%=image_tag "E5_310x155.jpg" %>
        <div class="caption">
          <h5><strong>Intel® Xeon® E5 processor </strong></h5>
          <li>Mainstream enterprise servers
          <li>Data center servers             
        </div>
      </div> 
  </div>  
  <div class="col-md-4">
    <div class="thumbnail"> 
      <%=image_tag "E7_310x155.jpg" %>
      <div class="caption">
        <h5><strong>Intel® Xeon® E7 processor</strong></h5>
        <li>High performance and mission critical servers
        <li>Most data demanding servers
      </div>
    </div> 
  </div>    
  
<div>

<div class="specsrow">
  <div class="row">
    <div class="col-md-4">
      <div id="index-carousel" class="carousel slide" data-ride="carousel" interval="2000">
        <div class="carousel-inner">
          <div class="item active">
          <%=image_tag("R1304_thumbnail.png", class:"img-rounded") %>
          </div>  
          <div class="item">
          <%=image_tag("R1304JP_45_thumbnail.png", class:"img-rounded") %>
          </div>  
        </div>  
      </div> 
    </div> 
    <div class="col-md-8">
      <h4>1U form factor</h4>
      <li>single Intel® Xeon® E3 processor or E5 processor 
      <li>up to 256GB ECC UDIMM 
      <li>RAID 0,1,5,6,10,50,60 
      <li>maximum 8 hotswap drives 
      <li>2 or 4 10/100/1000 Mb/s network interface   
    </div>   
  </div>  
</div>  

<div class="specsrow">
  <div class="row" >
    <div class="col-md-4">
      <div id="index-carousel" class="carousel slide" data-ride="carousel" interval="=4000">
        <div class="carousel-inner">
          <div class="item active">
            <%=image_tag("R2308_thumbnail.png", class:"img-rounded") %>
          </div>  
          <div class="item">
            <%=image_tag("R2308_inside_thumbnail.jpg", class:"img-rounded") %>
          </div>  
        </div>  
      </div> 
    </div>
    <div class="col-md-8">
      <h4>2U form factor</h4>
      <li>single Intel® Xeon® E3 processor or E5 processor  
      <li>up to 256GB ECC UDIMM 
      <li>RAID 0,1,5,6,10,50,60 
      <li>maximum 8 hotswap drives 
      <li>2 or 4 10/100/1000 Mb/s network interface   
    </div> 
  </div>
</div>
 

<div class="specsrow">
  <div class="row" >
    <div class="col-md-4">
      <div id="index-carousel" class="carousel slide" data-ride="carousel" interval="=4000">
        <div class="carousel-inner">
          <div class="item active">
            <%=image_tag("R2308_thumbnail.png", class:"img-rounded") %>
          </div>  
          <div class="item">
            <%=image_tag("R2308_inside_thumbnail.jpg", class:"img-rounded") %>
          </div>  
        </div>  
      </div> 
    </div>
    <div class="col-md-8">
      <h4>2U form factor</h4>
      <li>single Intel® Xeon® E3 processor or E5 processor  
      <li>up to 256GB ECC UDIMM 
      <li>RAID 0,1,5,6,10,50,60 
      <li>maximum 8 hotswap drives 
      <li>2 or 4 10/100/1000 Mb/s network interface   
    </div> 
  </div>
</div>
  
  
  
